.container {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.label {
	display: block;
	font-weight: bold;
}

.container select,
.container input,
.container textarea {
	display: inline-block;
	width: 300px;
	height: 1.6rem;
	background-color: var(--input-field-background-color);
	border: 1px solid gray;
	border-radius: 5px;
	padding-left: 0.5em;
}

.container select {
	cursor: pointer;
}

.container textarea {
	resize: none;
	min-height: 100px;
	padding: 0.5rem;
}

.errorMsg {
	color: var(--error-message-color);
	font-size: 0.9rem;
	font-weight: 600;
}

.container input:hover,
.container select:hover,
.container textarea:hover {
	filter: contrast(0.9);
}

.container select:focus,
.container input:focus,
.container textarea:focus {
	border-color: transparent;
	outline: 2px solid deeppink;
}
