.input,
.textarea,
.select {
	background-color: var(--input-field-background-color);
	border: 1px solid gray;
	border-radius: 5px;
	padding-left: 0.5rem;
}

.input:hover,
.textarea:hover,
.select:hover {
	filter: contrast(0.9);
}

.input:focus,
.textarea:focus,
.select:focus {
	border-color: transparent;
	outline: 2px solid deeppink;
}

.input,
.textarea {
	width: calc(100% - 0.5rem);
}

.select {
	display: block;
	width: 101%;
	cursor: pointer;
}

.label {
	font-weight: 700;
	display: block;
}

.errorMsg {
	color: var(--error-color);
}
