.button {
	padding: 0.5em 1em;
	border: none;
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border-radius: 5px;
	transition: scale 150ms linear, filter 150ms linear;
	cursor: pointer;
}

.button:hover {
	scale: 1.05;
	filter: contrast(0.9);
}
